aside {
    background-color: var(--lightblack);
    max-width: 250px;
    flex-direction: column;
    height: 100%;
    padding: 20px 15px;
    float: left;
}

header a {
    color: #FFFFFF;
}

.aside-container {
    padding: 15px;
}

.design-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}

.menu-items ul li{
    margin: 30px 0;
}

.menu-items a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
}

.following-items img:nth-child(1){
    width: 44px;
    height: 44px;
}

.following-items {
    display: flex;
    flex-direction: column;
}

.following-items a:hover{
    transform: scale(.9);
}

.following-items ul li {
    margin: 30px 0;
}

.following-items a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 4px;
}

.menu-items a:hover {
    background-color: var(--pink);
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 10px black;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid var(--loadColor);
}

form {
    background-color: #F8F8F8;
    border-radius: 12px;
}

#search-bar {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
}

#search-bar input {
    background-color: #F8F8F8;
    width: 336px;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 16px;
    font-size: 16px;
    border-radius: 12px;
}

::placeholder {
    font-size: 14px;
    color: var(--black);
}

#search-bar button img {
    user-select: none;
    width: 25px;
    border: none;
    cursor: pointer;
}

#search-bar button {
    vertical-align: middle;
    border: none;
    border-radius: 12px;
    background-color: #F8F8F8;
}

.profile-area > *{
    margin: 0 15px;
}

.profile-area button {
    width: 129px;
    height: 56px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.profile-area button:hover {
    background-color: var(--pink);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
    color: #FFFFFF;
    transform-origin: 0 0;
}

.section-header-container {
    max-width: 1231px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header ul{
    display: flex;
}

.section-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 83px;
    height: 21px;
}

.section-header li:hover {
    background-color: var(--loadColor);
    border: 1px solid var(--lightgray);
    border-radius: 12px;
}

.filter-comp {
    width: 132px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lightgray);
    border-radius: 12px;
}

.filter-comp a {
    margin-left: 7px;
}

.section-middle-container {
    max-width: 1231px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.section-middle {
    max-width: 800px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.grid-images {
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.grid-images img {
    width: 289px;
    height: 210px;
    object-fit: cover;
    cursor: pointer;
}

.grid-images span {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-footer-container {
    max-width: 300px;
    height: 56px;
    margin: 70px auto;
}

#load-more button{
    border: none;
    width: 289px;
    height: 56px;
    background-color: var(--loadColor);
    cursor: pointer;
}

#load-more button:hover {
    transition: all .5s;
    opacity: 30%;
}

.designer-content {
    max-width: 100%;
    background-color: #FAFAFA;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-text span{
    color: #222222;
    font-size: 14px;
    opacity: 30%;
    cursor: pointer;
}

.top-text span:hover{
    text-decoration: underline;
}

.designers {
    margin-top: 40px;
}

.top-text h2 {
    margin-left: 35px;
}

.designer-profile img {
    cursor: pointer;
}

.designer-profile {
    margin: 0 30px;
}

.inline-text {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline-text i {
    margin-top: 7px;
    color: #222222;
    font-size: 12px;
}

.designers img{
    width: 132px;
    height: 132px;
    object-fit: cover;
}

.button-side {
    margin-top: 10px;
    border: none;
    background-color: var(--loadColor);
}

.button-side button {
    cursor: pointer;
    border: none;
    width: 132px;
    height: 44px;
    border-radius: 12px;
}

.button-side button:hover {
    background-color: #FAFAFA;
    opacity: 1;
}

.foot-section {
    margin-top: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.ordered-list {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}
.ordered-list li {
    margin: 5px 0;
}

.ordered-list li:hover {
    text-decoration: underline;
}

.for-designers, .hire-designers, .directories, .company {
    margin-bottom: 40px;
}

footer {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px !important;
}

.smart {
    font-family: Avenir-Heavy, sans-serif;
}